.annotation {
    position: relative;
    transform: translate3d(calc(50%), calc(-50%), 0);
    text-align: left;
    background: #6798ca;
    color: #8c92a4;
    padding: 10px 15px;
    border-radius: 5px;
    user-select: none;
    font-family: var(--leva-fonts-mono);
  
  }
/* 연결선 */
  /* .annotation::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -2000px; 
    height: 30px;
    width: 2000px; 
    background: #6798ca;
  }

   */